<div class="container">
  <div class="columns is-centered">
    <div class="box column   is-one-third">
<h1 class="title has-text-centered">Typing Challenge</h1>
<p class="has-text-centered" >
  <span
  [class]="Compare(letter,enterdText[i])"
  *ngFor="let letter of randomText.split(''); let i=index" >{{letter}}</span>

   </p>
<div class="feild ">
  <input class="input" (input)="onInput($any($event.target).value)"/>

</div>
<div class=" box has-text-centered" *ngIf="enterdText===randomText">
  <h1>You Win!</h1>

</div>
</div>
</div>
</div>

